<h2 class = "text-center" > ${properties.heading}</h2>
            <table class="table text-center">
                <thead>
                    <tr class="success">
                        <td>ID</td>
                        <td>Name</td>
                        <td>E-mail</td>
                        <td>Number</td>
                        <td>Address</td>
                        <td>Action </td>
                    </tr>
                </thead>

                <div class="col-md-2 pull-right">
                    <button type="button" class="btn btn-primary btn-lg" > ${properties.button} </button>
                   
                </div>
                </div>