<div class="container">
	<div class="row">
        <div class="col-md-12">

            <div id="search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search.." />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-lg">Search</button>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>